*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    width: 100%;
    min-height: 99.9vh;
    background-image: url('/images/bg.jpg');
    background-size: cover;
}

@media screen and (max-width: 768px) {
    .App {
        background-position: top center;
    }
}

@media screen and (max-width: 1080px) {
    .App {
        background-position: top center;
    }
}
